ion-img{
    height: 10%;
}

ion-col{
    height: 1%;
}

#left{
    margin-top: 15%;
    margin-left: 1%;
}

#title-reminder-card{
    margin-top: 2%;
    font-size: large;
}

#img-reminder{
    margin-left: 25%;
}

#secundary{
    size: large;
}

#container-reminders{
    margin-left: 5%;
}

ion-card{
    background-color: #f6f6f6;
}

#container{
    margin-top: 10%;
}

.reminder-list{
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
}

#title-reminder{
    font-weight: bold;
}

.icons{
    width: 20%;
    height: 25%;
    margin-top: 3%;
}